@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preload" href="/assets/static/images/bg.jpg" crossorigin>
    <title>Smart Office</title>
    <style>
        .box-module {
            margin: 10px 20px;
            text-align: center;
            padding: 20px;
            border: 1px solid transparent
        }

        .mod-name {
            font-weight: 600;
            margin-top: 5px;
            color: #333
        }

            .mod-name a {
                color: #333
            }

                .mod-name a:hover, .box-module:hover .mod-name {
                    color: #2196f3
                }

        .mod-des {
            font-size: 13px;
            color: #72777a;
            white-space: nowrap;
        }

        .box-module:hover {
            border: 1px solid #eee;
            background-color: #f5f5f5
        }

        #loader {
            transition: all .3s ease-in-out;
            opacity: 1;
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            background: #fff;
            z-index: 90000
        }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden
            }

        .spinner {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1s infinite ease-in-out;
            animation: sk-scaleout 1s infinite ease-in-out
        }

        @@-webkit-keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0)
            }

            100% {
                -webkit-transform: scale(1);
                opacity: 0
            }
        }

        @@keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0)
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0
            }
        }

        .scroll-outer {
            visibility: hidden;
            max-height: 435px;
            overflow-y: auto;
        }

            .scroll-inner,
            .scroll-outer:hover,
            .scroll-outer:focus {
                visibility: visible;
            }

        .type-noti {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            position: absolute;
            right: -9px;
            top: 21px;
        }

            .type-noti i {
                color: rgba(255, 255, 255, 0.68);
                margin-left: 3px;
            }
            .type-noti.chat-noti {
                background-color: #7e4ca9;
            }
            .type-noti.doc-noti {
                background-color: #549e96;
            }
            .task-nd soe{
               font-weight: 600;
            }
            /*.full-container{
                padding-left: 0 !important;
                left: 0 !important;
            }
            .page-container{
                padding-left: 0 !important;
            }
            .header{
                width: 100% !important;
            }*/
    </style>
    <link href="@Url.Content("~/Content/line-awesome/css/line-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/sweetalert2/sweetalert2.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/animate.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Scripts/toastr.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/angular-datepicker/datetimepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/OwlCarousel/assets/owl.carousel.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/site.css" rel="stylesheet">
    <link href="~/style.css" rel="stylesheet">
</head>
<body class="app" ng-app="os" ng-cloak>
    <div id="loader">
        <div class="spinner"></div>
    </div>
    <script>
        window.addEventListener('load', function load() {
            const loader = document.getElementById('loader');
            setTimeout(function () {
                loader.classList.add('fadeOut');
            }, 300);
        });</script>
    <div ng-show="isLogin" ng-controller="MainCtr">
        <div>
            <div class="sidebar">
                <div class="sidebar-inner">
                    <div class="sidebar-logo">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer peer-greed">
                                <a class="sidebar-link td-n" href="http://businessportal.vn/">
                                    <div class="peers ai-c fxw-nw">
                                        <div class="peer">
                                            <div class="logo"><img src="~/Content/Skin/assets/static/images/logo.png" alt="" height="48" style="margin-top:6px;"></div>
                                        </div>
                                        <div class="peer peer-greed">
                                            <h5 class="lh-1 mB-0 logo-text">Smart Office</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="peer">
                                <div class="mobile-toggle sidebar-toggle">
                                    <a href="" class="td-n"><i class="ti-arrow-circle-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="sidebar-menu scrollable pos-r">
                        <li class="nav-item {{!link?'actived':''}}">
                            <a href="javascript:void(0);" class="sidebar-link" ng-click="goMenuHome()">
                                <span class="icon-holder">
                                    <i class="c-blue-500 ti-home"></i>
                                </span><span class="title">Trang chủ</span>
                            </a>
                        </li>
                        @*<li class="nav-item dropdown {{link==='duan'?'actived':''}}">
                            <a href="javascript:void(0);" ng-click="goMenuDuan()">
                                <span class="icon-holder"><i class="c-teal-500 ti-info-alt"></i></span><span class="title">Cá nhân</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);" ng-click="goMenuCongviec()">
                                <span class="icon-holder"><i class="c-orange-500 ti-layout-list-thumb"></i></span><span class="title">
                                    Module
                                </span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder"><i class="c-deep-purple-500 ti-user"></i></span><span class="title">
                                    Thành viên
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="sidebar-link" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="c-light-blue-500 ti-bar-chart"></i>
                                </span><span class="title">Tổng quan</span>
                            </a>
                        </li>*@
                    </ul>
                </div>
            </div>
            <div class="page-container">
                <div class="header navbar">
                    <div class="header-container">
                        <ul class="nav-left">
                            <li>
                                <a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);"><i class="ti-menu"></i></a>
                            </li>
                            <!--  <li class="search-box">
                                  <a class="search-toggle no-pdd-right" href="javascript:void(0);">
                                      <i class="search-icon ti-search pdd-right-10"></i> <i class="search-icon-close ti-close pdd-right-10"></i>
                                  </a>
                              </li>-->
                            <li class="search-input"><input class="form-control" type="text" ng-model="$root.search" my-enter="rootSearch()" placeholder="Search..."></li>
                            <li ng-if="$root.TenDuan" style="padding-top: 17px;font-size: 1.1rem; color: #2196f3; text-transform: uppercase;"><b>{{$root.TenDuan}}</b></li>
                        </ul>
                        <topbar urlLink="#"></topbar>
                    </div>
                </div>
                <main class="main-content bgc-grey-100">
                    <div id="mainContent">
                        <div class="full-container">
                            <ui-view></ui-view>
                        </div>
                    </div>
                </main>
                <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
                    <span>
                        Copyright © 2019 Designed by <a href="https://soe.vn" target="_blank" title="Smart Office">soe.vn</a>. All rights reserved.
                    </span>
                </footer>
            </div>
        </div>
    </div>
    <div ng-if="!isLogin" ng-controller="LoginCtr">
        <div class="peers ai-s fxw-nw h-100vh">
            <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv">
                <img style="width: 100%; height: 100%;" src="http://businessportal.vn/assets/static/images/bg.jpg">
            </div>
            <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style="min-width:320px;padding-top: calc(100vh/2 - 210px)!important;">
                <div ng-if="!$root.objgetLogin" class="log-logo" style="text-align: center;padding: 10px;"><img src="../../assets/static/images/logo.png" alt="" height="60"></div>
                <div ng-if="$root.objgetLogin">
                    <img ng-src="{{baseUrl+($root.objgetLogin.u.anhDaiDien != null ?$root.objgetLogin.u.anhDaiDien:'/Content/noavatar.jpg')}}" alt="{{$root.objgetlogin.u.fullName}}" style="margin: 0 auto;display: block;height: 72px; width: 72px;border-radius: 50%;border: 1px solid #e7dbdb;object-fit: cover;margin-bottom: 15px;">
                </div>
                <h4 class="fw-300 c-grey-900 mB-40">Đăng nhập</h4>
                <form>
                    <div class="form-group">
                        <label class="text-normal text-dark">Tài khoản</label> <input type="text" class="form-control" ng-model="login.tenTruyCap" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="text-normal text-dark">Mật khẩu</label> <input type="password" ng-model="login.matKhau" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <div class="peers ai-c jc-sb fxw-nw">
                            <div class="peer">
                                <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                                    <input type="checkbox" id="inputCall1"
                                           name="inputCheckboxesCall" class="peer" ng-model="login.remer"> <label for="inputCall1" class="peers peer-greed js-sb ai-c"><span class="peer peer-greed">Ghi nhớ mật khẩu</span></label>
                                </div>
                            </div>
                            <div class="peer" style="text-align: right;color:#2196f3;"><a ng-click="QuenMatKhau()">Quên mật khẩu</a></div>
                        </div>
                        <div class="peer" style="margin-top: 20px;"><button class="btn btn-primary" style="width: 100%;" ng-click="Login()"><span ng-show="$parent.loadding"><i class="la la-refresh spinning"></i></span>Truy cập</button></div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    <script src="@Url.Content("~/App/Home/HomeCtr.js")"></script>
    <script src="@Url.Content("~/Scripts/OwlCarousel/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("~/Content/ckfinder/ckfinder.js")"></script>
    <script src="~/Scripts/ck-editor.js"></script>
    <script src="~/Scripts/jquery.nicescroll.min.js"></script>
    <script src="~/Scripts/angular-nicescroll.js"></script>
    <link href="@Url.Content("~/Content/select2/select2.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/select2/select2.full.min.js")"></script>
    <script src="~/Content/Skin/angular-input-masks/angular-input-masks-dependencies.min.js"></script>
    <script src="~/Content/Skin/angular-input-masks/angular-input-masks.min.js"></script>
    <script src="~/Content/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/Content/angular-datepicker/datetimepicker.js"></script>
    <script src="~/Content/angular-datepicker/dateTimeInput.js"></script>
    <script src="~/Scripts/aes.js"></script>
    <script src="@Url.Content("~/App/Chat/emoji.js")"></script>
    <!--amchart Resoureces-->
    <script src="~/Content/amcharts/amcharts.js"></script>
    <script src="~/Content/amcharts/serial.js"></script>
    <script src="~/Content/amcharts/radar.js"></script>
    <script src="~/Content/amcharts/pie.js"></script>
    <script src="~/Content/amcharts/plugins/export/export.min.js"></script>
    <link href="~/Content/amcharts/plugins/export/export.css" rel="stylesheet" />
    <script src="~/Content/amcharts/themes/light.js"></script>
    <!--amchart Resoureces Ends Here-->
    <script type="text/javascript" src="@Url.Content("~/App/FireBase/firebase-app.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/FireBase/firebase-messaging.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/FireBase/firebase-database.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/FireBase/initFireBase.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/function.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/app.js")"></script>
    <script src="http://businessportal.vn/App/Component/topbar.js"></script>
</body>
</html>